<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sound 🎶</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:wght@400;700&family=Archivo:wght@200;400;700;900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/principal.css">

    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>

</head>
<body>

    <%- include("../partials/header-modulo-admin") %>

    <main>

        <div class="div-titulo-boton-comprar">
            <h2 class="titulo-alta-prod">ABM de productos: BAJA de producto</h2>
        </div>

        <section class="prods-destacados">

            <article class="articulo-detalle-desktop">

                <form action="landing-abm" method="GET">
                    <div class="div-select">
                        <h2 class="h2-confirmacion-baja">Confirma la baja de "<%= producto.titulo %>"?</h2>
                    </div>
                    <div class="div-select">
                        <button class="boton-abm" type="submit">Regresar</button>
                    </div>
                </form>
                <form action="" method="POST">
                    <div class="div-select">
                        <button class="boton-abm-baja" type="submit">Confirmar la BAJA</button>
                    </div>
                </form>
            </article>

          
        </section>
        
    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>