<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sound 🎶</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@200;400;700;900&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/principal.css">
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-superior">
            <!-- div con el burger menu-->
            <div class="header-burgerMenu">
                <a class="header-links"  href="#"><i class="fa-solid fa-bars"></i></a>
            <!-- div con el resto de los iconos alineados a la derecha-->
            </div>
            <div class="header-otrosIconos">
                <a class="header-links" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="header-links" href="#"><i class="fa-solid fa-user"></i></a>
                <a class="header-links" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
        <!-- div para el logo -->
        <div class="header-divParaLogo">
            <h2 class="header-logo"><span class="logo-digital">DIGITAL </span><span class="logo-sound">SOUND</span></h2>
            <img class="header-iconoSonido" src="/img/icono-musica.png">
        </div>
        <div><p class="header-leyendaChica">Venta de instrumentos musicales y productos de audio</p></div>
    </header class="header-divLogo">
    <main class="main-flex">
        <article class="main-article">
            <img class="main-article__img" src="/img/guitarra-article-index.jpg">
                <h3 class="article-guittaras__titulo">GUITARRAS Y BAJOS</h3>
                <a href="#"><p class="article-guittaras__button">Ver disponibles</p></a>
        </article>
        <article class="main-article">
            <img class="main-article__img" src="/img/bateria-article-index.jpg">
                <h3 class="article-guittaras__titulo">BATERIAS</h3>
                <a href="#"><p class="article-guittaras__button">Ver disponibles</p></a>
        </article>
        <article class="main-article">
            <img class="main-article__img" src="/img/amplificador-article-index.jpg">
                <h3 class="article-guittaras__titulo">AMPLIFICADORES</h3>
                <a href="#"><p class="article-guittaras__button">Ver disponibles</p></a>
        </article>
        <article class="main-article">
            <img class="main-article__img" src="/img/accesories-article-index.jpg">
                <h3 class="article-guittaras__titulo">ACCESORIOS</h3>
                <a href="#"><p class="article-guittaras__button">Ver disponibles</p></a>
        </article>
    </main>
    
</body>
</html>