<footer>
    <div class="footer-fila-arriba">
        Todos los derechos reservados. Digital Sound SA.
    </div>
    <div class="footer-fila-abajo">
        <i class="footer-espacios-iconos fa-solid fa-circle-info"></i>
        <i class="footer-espacios-iconos fa-solid fa-envelope"></i>
        <i class="footer-espacios-iconos fa-solid fa-phone"></i>
        <i class="footer-espacios-iconos fa-brands fa-square-instagram"></i>
        <i class="footer-espacios-iconos fa-brands fa-facebook"></i>
        <i class="footer-espacios-iconos fa-brands fa-twitter"></i>
        <i class="footer-espacios-iconos fa-brands fa-linkedin"></i>
    </div>
</footer>
<div>&nbsp;</div>