<header>
    <div class="header-superior-admin">
        <!-- div con el burger menu-->
        <div class="header-burgerMenu">
            <a class="header-links"  href="#"><i class="fa-solid fa-bars"></i></a>
        <!-- div con el resto de los iconos alineados a la derecha-->
        </div>
        <div class="header-div-mod-admin">
            MÓDULO ADMIN
        </div>
        <div class="header-otrosIconos-admin">
            <a class="header-links" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a class="header-links" href="#"><i class="fa-solid fa-user"></i></a>
            <a class="header-links" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <div class="header-navDesktop-topNav">
        <p class="header-navText">
            <a href="/">HOME</a> |
            <a href="/productos/guitarras-y-bajos">Guitarras y Bajos</a> |
            <a href="#">Baterías</a> |
            <a href="#">Amplificadores</a> |
            <a href="#">Accesorios</a> |
            <a href="#">Marcas</a> |
            <a href="#">Nuevos Ingresos</a> |
            <a href="#">Usados</a>
        </p>
    </div>
    <div class="header-navDesktop-bottomNav">
        <p class="header-navText">
            <a href="/productos/landing-abm">ABM de productos</a> | <a href="/users/landing-abm">ABM de usuarios</a>
        </p>
    </div>
    <!-- div para el logo -->
    <div class="header-divParaLogo">
        <h2 class="header-logo"><span class="logo-digital">DIGITAL </span><span class="logo-sound">SOUND</span></h2>
        <img class="header-iconoSonido" src="/img/icono-musica.png">
    </div>
    <div><p class="header-leyendaChica">Todo para el audiófilo</p></div>
</header>