<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Digital Sound 🎶</title>
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:wght@400;700&family=Archivo:wght@200;400;700;900&display=swap" rel="stylesheet">
    

        <link rel="stylesheet" href="/css/principal.css">
    
        <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <%- include("../partials/header") %>

        <main class="main-formularios">
            <div class="body-flexbox">
                <div class="login-block">
                    <h2>¡Crea una cuenta!</h2>
                    <p class="legend legend-register">Crear una cuenta es rápido, fácil y gratis! Con ella vas a poder acceder a todas las facilidades que tenemos para ofrecerte</p>
                    <form action="/users" method="POST" class="form-ingreso">
                        <!--<div class="control-formulario control-formulario--name-surname">
                            <input placeholder="Nombre">
                            <input placeholder="Apellido">
                        </div> Formulario con Nombre y Apellido en misma linea -->
                        <div class="control-formulario">
                            <input placeholder=" Nombre" name = "nombre" id = "nombre">
                        </div>
                        <div class="control-formulario">
                            <input placeholder=" Apellido" name = "apellido" id = "apellido">
                        </div>
                        <div class="control-formulario">
                            <input placeholder=" Email" name = "email" id = "email">
                        </div>
                        <div class="control-formulario">
                            <input placeholder=" Contraseña" name = "contraseña" id = "contraseña">
                        </div>
                        <div class="control-formulario">
                            <input placeholder=" Repetir contraseña">
                        </div>
                        <button type="submit" class="button button--submit">Crear cuenta</button>
                        </form>
                    <p class="legend legend--tyc">Al crear una cuenta, aceptas nuestros <a href=#>términos y condiciones</a></p>    
                </div>
                <div class="vertical-line" style="height: 150px">
                </div>
                <div class="login-block">
                    <h3>O ingresá con tus redes sociales</h3>
                    <hr>
                    <div class="social-networks">
                        <button class="button button--facebook">Continuar con Facebook</button>
                        <button class="button button--google">Continuar con Google</button>
                        <button class="button button--apple">Continuar con Apple</button>
                    </div>
                </div>
            </div>
        </main>        
       
        <%- include("../partials/footer") %>

    </body>
</html>